body{
  text-align: center;
}

.btn {
  height: 200px;
  width: 200px;
  border-radius :20%;
  border :10px solid black;
  margin: 2.5rem;
}
.btn-container {
  display :flex;
  justify-content: center;
}
.red{

   background-color:rgb(141, 55, 55);
}
.yellow{
  background-color: rgb(228, 228, 113);
}
.purple{
  background-color: rgb(126, 91, 159);
}
.green{
  background-color: rgb(79, 137, 79);
}
.flash {
  background-color: rgb(255, 255, 255);
}
.userflash {
  background-color: aqua;
}